<h3>welcome to your homepage <%= @player.username %></h3>

your team:
<% if @player.team %>
  <a href="/team"><%= @player.team %></a>
<% else %>
  <a href="/team/new">add/find your team</a>
<% end %>

<br></br>
add a game or a goal

<br></br>
your recent activity

