<h3>welcome to your homepage <%= @player.username %></h3>

<% if flash[:message].include?("First") %>
  <% flash[:message] %>
  <a href="add">add</a> or <a href="join">join</a>
<% end %>

<% if flash[:message].include?("Would") %>
  <% flash[:message] %>
  <a href="new game">add</a> or <a href="new goal">join</a>
<% end %>