<h3><%= @team.name %></h3>
<a href="/player/<%= @player.username %>">back to your homepage</a>
<br></br>

<% @team.games.each do |x| %>
  played on <%= x.date %><br></br>
  <% x.goals.each do |y| %>
    goal in minute <%= y.time %> by <% y.player.username %><br></br>
  <% end %>
<% end %>