welcome <%= @player.username %>
<sub><a href="/logout">log out</a></sub><br></br>

<form method="post" action="/team">
  <%= @player.username %>, add new team or join an existing team<br></br>

  new team name:
  <input type="radio"><input type="text" name="new_team_name"><br></br>

  <% Team.all.each do |x| %>
    <input type="radio" name="existing_team_name" value="<%= x.name %>"><%= x.name %><br></br>
  <% end %>

  <input type="submit" value="submit">
</form>